@font-face {
    font-family: 'Noto Sans';
    src: url('./NotoSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('./NotoSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}