.tableNews_modal {
    position: absolute;
    top: 50%;
    left: 50%;

    padding: 16px 40px 24px;

    transform: translate(-50%, -50%);
    max-width: 900px;
    background-color: #141414;
    border: 2px solid #000;
}

.tableNews_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tableNews_description {
    white-space: pre-line;
    height: 800px;
    overflow: auto;
}

.tableNews_time {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

.tableNews_close {
    font-weight: 600;
    color: var(--accent-color);
}

.tableNews_close::after {
    content: "+";
    font-size: 30px;
    font-weight: 400;
    transform: rotate(45deg);
    margin-left: 8px;
}

.tableNews_title {
    margin: 12px 0 20px;
}